.App {
  text-align: center;
  background-color: #FFF;
}
.App-header, .App-footer {
  background-color: #003DA5;
  padding: 20px;
  color: #FFF;
}
.App-title {
  font-size: 1.5em;
}
.Dark-Row {
  background-color: #003DA5;
  color: #FFF;
  padding: 15px;
}
.Light-Row {
  padding: 15px;
}
ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.Link {
  padding: 20px;
}
.Link a {
  color: #FFF;
  text-decoration: none;
}

.Link a:hover {
  text-decoration: underline;
}
p {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.tag {
  padding: 15px;
  cursor: pointer;
  display: inline-block;
}